@using FractalBookStore;

@model Book[]

@{
    ViewData["Title"] = "Result of the search";
}

@if (Model.Length == 0)
{
    <p>Nothing is searched.</p>
}
else
{
    <ul style=" list-style: none;"class="bg-dark">
        @foreach (var book in Model)
        {

            <li class="img-thumbnail bg-dark text-light" style=" width: 33%; display:inline-block;">

                <img class="img-thumbnail" src="@book.Image" alt="@book.Image" />

                <a href="@Url.Action("Index","Book", new{id=book.Id})"><h5>@book.Title</h5></a>

                <b>Author:</b> @book.Author
                <br/> <br/>   @book.Brief

                <br/><b>Status:</b>
                @if (@book.Available)
                {
                    <span class="text-primary">Available</span>
                }
                else
                {
                    <span class="text-danger">Not Available</span>
                }

                 <br/><br/><span style="text-align:rigth;">Price: @book.Price.ToString("c")</span>
            </li>
        }
    </ul>
}

