@using FractalBookStore
@model Book

@{
    ViewData["Title"] = Model.Title;
}

<h4>@Model.Title</h4>

 
<p><strong>Author:</strong>  @Model.Author</p>
<p><strong>Description:</strong>  @Model.Description</p>
<p><strong>Price: @Model.Price$</strong></p>

<form action="@Url.Action("AddItem","Order")" method="post" >
    <input type="hidden" name="id" value="@Model.Id" />
    <button class=" btn btn-success" type="submit">Add into your Cart</button>
</form>